{% extends "base.html" %}
{% load static %}

{% block content %}
  
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, suscipit.
         Praesentium dolores expedita, nulla enim possimus saepe, odit temporibus sequi
          animi quae, velit tempore.
         Aspernatur non officia eaque iusto ipsa!</P>
    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, suscipit.
         Praesentium dolores expedita, nulla enim possimus saepe, odit temporibus sequi
          animi quae, velit tempore.
         Aspernatur non officia eaque iusto ipsa!</P>
</div>

{% endblock content %}