{% extends "base.html" %}
{% load static %}

{% block msg %}
    
    {% if messages %}
        {% for msg in messages %}
          <div
            
            {% if msg.tags %} class='alert alert-{{msg.tags}}
            alert-dismissible fade show' {% endif %}>   
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                
          </div>
        {% endfor %}
    {% endif %}
        
{% endblock msg %}


{% block side %}
  <div class="col-sm-2 text-white my-5 text-center">
    <h4 class="my-5">Profile</h4>
    <h5>{{full_name}}</h5>
    {% for group in groups %}
      <p>{{group.name}}</p>
    {% endfor %}
  </div>
{% endblock side %}





{% block content %}
  
<div class="col-sm-10">
    <h3 class="text-white my-5">Dashboard Page</h3>
    <a href="{% url 'addpost' %}" class="btn btn-success">Add</a>
    <h4 class="text-center  alert alert-info mt-3">Show Post Information</h4>
    
    {% if post %}
        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width: 2%;">ID</th>
                    <th scope="col" style="width: 28%;">Title</th>
                    <th scope="col" style="width: 55%;">Description</th>
                    <th scope="col" style="width: 15%;">Action</th>
                </tr>
            </thead>
                <tbody>
                    {% for p in post %}
                      <tr>
                        <th scope="col">{{p.id}}</th>
                        <td >{{p.title}}</td>
                        <td>{{p.desc}}</td>
                        <td class="text-center">
                            <a href="{% url 'updatepost' p.id %}" class="btn btn-warning btn-sm">Edit</a>

                            
                            {% if perms.delete_post %}
                                
                            <form action="{% url 'deletepost' p.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form>
                            
                            {% endif %}

                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
        </table>

        {% else %}  
        <h4 class="text-center alert alert-warning">No Records</h4>
    {% endif %}
        
</div>

{% endblock content %}